

.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.navigation {
  width: 600px;
  margin: 0 auto;
  margin-top: 77px;
}
.navigation a {
  text-decoration: none;
  color: #626262;
  font-family: playfairdisplay;
  margin-left: 70px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.navigation a:hover {
  color: #03a9f4;
}

.navigation ul li {
  list-style-type: none;
  display: inline;
}

.name p{
  text-align: left;
}
.first div{
  display: inline-block;
  text-align: center;
}
.second div{
  display: inline-block;
}
.third div{
  display: inline-block;
}
.left{
  width: 420px;
  height: 600px;
  margin-left: 155px;
  margin-right: 60px;
  margin-top: 30px;
}
.right{ 
  width: 420px;
  height: 600px;
  margin-right: 155px;
  margin-left:60px;
   margin-top: 30px;
}